@inherits LayoutComponentBase

<div id="body-grid-container" class="w-100v h-100v bg-black">
<header>
    
</header>
<nav>
    
</nav>
<main>
    @Body
</main>
<footer>
    
</footer>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
