@using LeafletClient.Components;
@page "/"

<PageTitle>Home</PageTitle>

<div id="viewport-container" style="width: 1200px; height: 600px;">
    <MapViewport MapTilerApiKey="@MapTilerApiKey" MapTilerStyle="66e6da85-1e0d-40c5-a498-f5f9ff323a5a" @ref="MapViewport" />
</div>
