<div @ref="_containerElement" class="layout-separator-container @OrientationClass" style="@DefaultGridTemplate">
    <div class="layout-separator-child">
        @TopLeftChild
    </div>
    <div class="layout-separator-handle">
    </div>
    <div class="layout-separator-child">
        @BottomRightChild
    </div>
</div>
