#main-section {
    background-color: #111;
}

.divider-section {
    position: absolute;
    background-color: #2b2b2b;
    border-radius: 12px;
    overflow: auto;
}

#marker-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: #333;
    border-radius: 12px;
    padding: 8px;
    flex-grow: 1;
    color: white;
    gap: 8px;
    overflow-y: auto;
}

.marker-card {
    display: flex;
    background-color: #222;
    border-radius: 10px;
    padding: 6px 12px;
    gap: 12px;
    text-align: start;
    color: white;
    border: none;
    min-width: 250px;
}

.marker-card:hover {
    background-color: #2B2B2B;
}